
<div class="site-main">
    <div>
        <header>
            <p style="font-size:2em;text-align: center;color:orange">Team Member</p>
        </header>
        <article>
            <p style="text-align: center;"><b>Auttaphol Thongvicit 5810613256</b></p>
            <p style="text-align: center;"><b>Tuchdech Jirabunyadech 5910613248</b></p>
            <p style="text-align: center;"><b>Boonyanut Puingyamsual 5910613305</b></p>
            <p style="text-align: center;"><b>Kittikun Kittithammo 5910613321</b></p>
        </article>
    </div>
    <div>
        <header>
            <p style="font-size:2em;text-align: center;color:orange">Proposal</p>
        </header>
        <article>
            <center>
                <table cellspacing="20">
                    <tr>
                        <td><img src="images/pro1.png" width="350px" height="350px"></td>
                        <td><img src="images/pro2.png" width="350px" height="350px"></td>
                    </tr>
                    <tr>
                        <td><img src="images/pro3.png" width="350px" height="350px"></td>
                        <td><img src="images/pro4.png" width="350px" height="350px"></td>
                    </tr>
                </table>
            </center>
        </article>
    </div>
    <div>
        <header>
            <p style="font-size:2em;text-align: center;color:orange">User Stories</p>
        </header>
        <article>
            <center>
                <table cellspacing="20">
                    <tr>
                        <td><img src="images/story1.png" width="400px" height="300px"></td>
                        <td><img src="images/story2.png" width="400px" height="300px"></td>
                    </tr>
                    <tr>
                        <td><img src="images/story3.png" width="400px" height="300px"></td>
                        <td><img src="images/story4.png" width="400px" height="300px"></td>
                    </tr>
                    <tr>
                        <td><img src="images/story5.png" width="400px" height="300px"></td>
                        <td><img src="images/story6.png" width="400px" height="300px"></td>
                    </tr>
                    <tr>
                        <td> <img src="images/story7.png" width="400px" height="300px"></td>
                        <td> <img src="images/story8.png" width="400px" height="300px"></td>
                    </tr>
                </table>
            </center>
        </article>
    </div>
    <div>
        <header>
            <p style="font-size:2em;text-align: center;color:orange">Gitlab Repository Link</p>
        </header>
        <article>
            <center>
                <p style="font-size: 1.2em"><a href="https://gitlab.com/5910613248/24preorder.git">https://gitlab.com/5910613248/24preorder.git</a></p>
            </center>
        </article>
    </div>
    <div>
        <header>
            <p style="font-size:2em;text-align: center;color:orange">Pivotal Tracker Link</p>
        </header>
        <article>
            <center>
                <p style="font-size: 1.2em"><a href="https://www.pivotaltracker.com/projects/2407283">https://www.pivotaltracker.com/projects/2407283</a></p>
            </center>
        </article>
    </div>
</div>
