
<div class="site-main">
    
<div class="site-images-1">
<div class="detailimag1">
    <%= link_to image_tag("nike-image3.jpg") , detail_no_login_path %>
</div>
</div>
<!-- End Images Content 1 -->
<div class="content1">
<p style="font-size: 2.5em;">Lorem Ipsum is simply dummy text.</p>
<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</p>
</div>
<!-- Start Images Content 2 -->
<div class="site-images-2">
<div class="detailimag2">
    <%= link_to image_tag("gucci1.jpg"), detail_no_login2_path %>
</div>
</div>
<!-- End Images Content 2 -->
<div class="content2">
<p style="font-size: 2.5em;">it to make a type specimen book.</p>
<p>t has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
</div>
<!-- Start Images Content 3 -->
<div class="image3">
<div class="site-images-3">
    <div class="site-images-3-left">
        <%= link_to image_tag("hood1.jpg",width:'600',height:'600'), detail_no_login3_path %>
    </div>
    <div class="site-images-3-right">
        <%= link_to image_tag("hood3.jpg",width:'600',height:'600'), detail_no_login4_path %>
    </div>
</div>
</div>
    <!-- End Images Content 3 -->
</div>
