<div class="container-detail-no-login">

  
    <!-- Start Images Content 1 -->
    <div class="site-images-1">
        <%= image_tag("hood3.jpg")%>

    </div>
    <!-- End Images Content 1 -->

    <!-- Start detail -->
    <div class="detail link-color">
        <% if current_user %>
        <%= link_to "buy" , neworder_path %>
        <% else %>
        <%= link_to "buy" , neworderfalse_path %>
        <% end %>
    <!-- End detail -->

  
</div>
<!-- End Container-->