/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*
 * Start of Grid CSS
 */

.container {
	display: grid;
	grid-template-rows: 100px auto 50px;
	grid-template-areas:
			"header"
			"main"
			"footer";	
}

.site-logo {
  grid-area: site-logo;
  margin-top: 5px;

}

.container-detail-no-login {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto 700px 80px;
  grid-template-areas:
      "site-header"
      "site-images-1"
      "detail"
      "site-footer";
}

.site-images-1 {
  grid-area: site-images-1;
  justify-self:center;
}



.detailimag1 a{
  color:red;
      
  }

.content1{
    grid-area: content1;

    padding-top: 30px;
    padding-bottom:50px;
    background-color: #c62121;
    color:white;

}

.bigger{
  font-size: 2.5em;
}

.site-images-2 {
  grid-area: site-images-2;
  justify-self:center;
  color:red;
}

.detailimag2 a{
  color:red;
      
  }
.content2{
    grid-area: content2;
    padding-top: 50px;
     padding-bottom:100px;
     background-color: #8d0101;
     color:white;
}
.image3{
  background-color:black

}
.site-images-3 {
  grid-area: site-images-3;

  display: grid;
  grid-template-columns: 1fr 1fr;
  color:red;
  grid-template-areas:
      "site-images-3-left site-images-3-right"
  
}
.site-images-3-left {
  padding-top: 50px;
  grid-area: site-images-3-left;
  justify-self:center;
}

.site-images-3-right {
  padding-top: 50px;
  grid-area: site-images-3-right;
  justify-self:center;
}







.site-header {
	grid-area: header;

	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-areas: "header-logo header-nav";	
	background-color: black;
}

.site-header-logo {
	grid-area:header-logo;
}

.site-header-nav {
	grid-area:header-nav;
	justify-self: end;
	align-self: center;
	font-size: 1.2em;
}

.site-main {
	grid-area: main;
}

.site-footer {
	grid-area: footer;
	background-color: black;
	margin:0;
	padding: 10px;
	
}
/*
 * End of Grid CSS
 */


/*
 * Enter CSS code as below
 */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 50px;
  text-decoration: none;
}

a:hover {
  color: gold;
}

a{
	text-decoration: none;
	color:white;
}

input[type=text] {
  width: 15%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid blue;
  border-radius: 4px;
}

input[type=password] {
  width: 15%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid blue;
  border-radius: 4px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: green;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}



 
