<!DOCTYPE html>
<html>

<div class="container">
    <div class="site-header">
        <div class="site-header-logo">
            <image src="/images/logo.png" width="350" height="100"></image>
        </div>
        <div class="site-header-nav">
            <ul>
                <li><a><%= link_to "Home" , home_path %></a></li>

                <% if current_user %>
                <% else %>
                <li><a><%= link_to "Sign Up", signup_path %></a></li>
                <li><a><%= link_to "Log In", login_path %></a></li>
                <% end %>

                <li><a><%= link_to "About" , about_path %></a></li>

                <% if current_user%>
                <% if current_user.email == 'admin'%>
                <li><a><%= link_to "Admin Order", orders_path %></a></li>
                <li><a><%= link_to "Log Out", logout_path %></a></li>
                <li><a><%= link_to "Edit", edit_user_path(current_user) %></a></li>
                Logged in as
                <%= current_user.email %>
                <% else %>
                <li><a><%= link_to "User Order", userorder_path %></a></li>
                <li><a><%= link_to "Log Out", logout_path %></a></li>
                <li><a><%= link_to "Edit", edit_user_path(current_user) %></a></li>
                Logged in as
                <%= current_user.email %>
                <% end %>
                <% end %>
            </ul>
        </div>
    </div>


</div>

<head>
    <title>Preorder24</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
    <style>
    	body{
            font-family: 'Hind', sans-serif;
            margin: 0;
            color:gold;
    	}

        
    </style>
</head>
<body>
    <%= yield %>
</body>

<div class="site-footer">
    <p style="text-align: center">&copy; <b>2019 - CN340 SOFTWARE ENGINEERING</b></p>
</div>

</html>